body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  background-color: hsl(226, 43%, 10%);
}

.container {
  display: grid;
  grid-template-rows: repeat(2, 185px);
  grid-template-columns: repeat(4, 190px);
  gap: 20px;
}

.photo {
  scale: 0.25;
  position: absolute;
  top: -65px;
  right: 17px;
  border: 8px solid white;
  border-radius: 200px;
}
.profile {
  padding: 115px 20px 60px;
  border-radius: 10px;
  color: white;
  background-color: hsl(246, 80%, 60%);
}

.heading {
  font-size: 0.8em;
  color: hsl(236, 100%, 87%);
  padding: 5px 0px;
}
.name {
  font-size: 1.9em;
  font-weight: 300;
}
.option {
  color: white;
  padding: 20px;
  font-size: .85em;
}

#weekly ,#monthly{
    color: hsl(236, 100%, 87%);
}

.icon {
  position: absolute;
  top: -20px;
  left: 110px;
  scale: 0.7;
}
.content {
  position: relative;
  top: 30px;
  /* padding: 10px; */
  border-radius: 10px;
  background-clip: border-box;
  background-color: hsl(235, 46%, 20%);
}
.title {
  color: white;
  position: relative;
  padding: 25px 20px;
  font-size: 0.8em;
  font-weight: 500;
}
.dots {
  position: absolute;
  scale: 0.5;
  left: 150px;
  top: 30px;
}
.time {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
  padding: 0px 20px;
}
.previous {
  color: hsl(236, 100%, 87%);
  font-size: smaller;
  font-weight: 400;
  padding: 10px 20px 20px;
}

.item3 .icon {
  top: -17px;
}

.item5 .icon {
  top: -10px;
}

.item6 .icon {
  top: -25px;
}

.option div span:hover {
  cursor: pointer;
  /* color: hsl(236, 100%, 87%); */
}
.content:hover {
  cursor: pointer;
  background-color: hsl(235, 46%, 33%);
}

.item1 {
  grid-area: 1 / 1 / 3 / 1;
  background-color: hsl(235, 46%, 20%);
  position: relative;
  border-radius: 10px;
}
.item2 {
  background-color: hsl(15, 100%, 70%);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.item3 {
  background-color: hsl(195, 74%, 62%);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.item4 {
  background-color: hsl(348, 100%, 68%);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.item5 {
  background-color: hsl(145, 58%, 55%);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.item6 {
  background-color: hsl(264, 64%, 52%);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.item7 {
  background-color: hsl(43, 84%, 65%);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 310px) and (max-width: 880px) {
  .container {
    display: grid;
    grid-template-rows: 190px repeat(6, 155px);
    grid-template-columns: repeat(1, 310px);
    gap: 20px;
    margin: 10px;
  }
  body {
    height: fit-content;
    width: auto;
    overflow-y: visible;
  }
  .content {
    position: relative;
    top: 35px;
    /* padding: 10px; */
    border-radius: 15px;
    background-clip: border-box;
    background-color: hsl(235, 46%, 20%);
  }
  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 13px;
    /* padding: 20px; */
    font-size: 1em;
  }
  .icon {
    position: absolute;
    top: -12px;
    left: 215px;
    scale: 0.9;
  }
  .title {
    position: relative;
    padding: 25px 20px 5px;
    font-size: 1.1em;
    font-weight: 500;
  }
  .dots {
    position: absolute;
    scale: 0.9;
    left: 260px;
    top: 35px;
  }
  .time {
    font-size: 2em;
    padding: 0px 20px;
    font-weight: 300;
  }
  .previous {
    font-size: 0.8em;
    position: relative;
    left: 160px;
    bottom: 37px;
    padding: 10px 20px 20px;
  }

  .photo {
    scale: 0.25;
    position: absolute;
    top: -65px;
    right: 130px;
    border: 8px solid white;
    border-radius: 200px;
  }
  .profile {
    padding: 35px 0px 35px 103px;
    border-radius: 10px;
  }

  .heading {
    font-size: 0.8em;
    padding: 5px 0px;
  }
  .name {
    font-size: 1.4em;
    font-weight: 300;
  }
  .item1 {
    grid-area: 1 / 1 / 1 / 1;
    position: relative;
    border-radius: 10px;
  }
  .item2 {
    border-radius: 15px;
  }
  .item3 {
    border-radius: 15px;
  }
  .item4 {
    border-radius: 15px;
  }
  .item5 {
    border-radius: 15px;
  }
  .item6 {
    border-radius: 15px;
  }
  .item7 {
    border-radius: 15px;
  }

  .item3 .icon {
    top: -8px;
  }

  .item5 .icon {
    top: -4px;
  }

  .item6 .icon {
    top: -17px;
  }
}
